
        <!-- Start Bilo_video section -->
        <section class="bilo_video section_padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bilo_title_span text-center">
                            <span>{{ site.data.video.tagline }}</span>
                        </div>
                        <div class="bilo_title text-center">
                            <h2>{{ site.data.video.title }}</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="play_area">
                            <div class="play_icon">
                                <a href="{{ site.data.video.youtube_link ?? 'https://www.youtube.com/watch?v=3AtDnEC4zak' }}" class="play_btn">Play</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Bilo_video section -->