        <!-- jquery  -->
        <script src="{{ 'assets/js/vendor/jquery-1.12.4.min.js' | relative_url }}"></script>
        <!--modernizr js-->
        <script src="{{ 'assets/js/vendor/modernizr-3.6.0.min.js' | relative_url }}"></script>
        <!-- Bootstrap js  -->
        <script src="{{ 'assets/css/bootstrap/js/bootstrap.min.js' | relative_url }}"></script>
        <script src="{{ 'assets/css/bootstrap/js/popper.min.js' | relative_url }}"></script>
        <!-- owl carousel js -->
        <script src="{{ 'assets/css/slick/slick.min.js' | relative_url }}"></script>
        <!--meanmenu js-->
        <script src="{{ 'assets/js/jquery.meanmenu.js' | relative_url }}"></script>
        <!--magnific-popup js-->
        <script src="{{ 'assets/js/jquery.magnific-popup.min.js' | relative_url }}"></script>
        <!--wow js-->
        <script src="{{ 'assets/js/wow.min.js' | relative_url }}"></script>
        <!-- custom js  -->
        <script src="{{ 'assets/js/custom.js' | relative_url }}"></script>